// To configure blueprint, edit the partials/base.sass file.
@import "base";

// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
@include blueprint-scaffolding("body");

@include reset-html5;

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
  
  -webkit-font-smoothing: antialiased;
  
  h1, h2 {
    font-weight: 200;
  }
}

.b-header,
.b-features {
  @include container;
}
.b-header-wrap,
.b-features-wrap {
  @include prepend(2);
}

/* Header section
---------------------------------------- */
.b-header {
  padding-bottom: 24px;
  background: url('/i/bg.jpg') 50% 40px no-repeat;
  
  .b-header-wrap {
    background: url('/i/logo-hint.png') 400px 0px no-repeat;
    @include clearfix;
  }
  
  .b-logo-container {
    @include column(9);

    a {
      display: block;
      float: left;
      padding-top: 20px;
      margin-left: $blueprint_grid_width * 2;
    }
  }
  .b-logo-text {
    padding-top: 120px;
    @include column(13, true);

    .b-logo {
      @include replace-text-with-dimensions('logo-text.png', 462, 67);
    }
    .b-tagline {
      font-size: 1.5em;
      font-weight: bold;
    }
    p {
      font-size: 1.35em;
      @include append(1);
      
      em {
        font-style: normal;
        white-space: nowrap;
        background-color: #f7efc5;
      }
    }
  }
}

/* Available in Mac App Store Badge
---------------------------------------- */
.b-appstore {
  display: inline-block;
  padding-top: 20px;
  margin-left: 20px;

  .b-appstore__btn {
    display: block;
    @include replace-text-with-dimensions('b-appstore_soon.png', 272, 102);
  }
}

/* 1-2-3 Process with images
---------------------------------------- */
.b-usage {
  margin-bottom: 24px;
  background: #f4f5f9 url('/i/b-usage_bg.png') 0 0 repeat;
  
  .b-usage-wrap {
    @include container;
    background: url('/i/b-usage-w_bg.png') 20px 80px no-repeat;
    
    ol {
      padding: 2em 0 3em;
      @include prepend(2);
    }
    
    .b-usage__item {
      @include column(7);
      display: list-item;
      font-size: 1.5em;
      font-weight: bold;
      color: #66ccff;
      
      h2 {
        margin: 0;
        font-size: 1em;
      }
      p {
        margin-bottom: .5em;
        font-weight: normal;
        font-size: .85em;
      }
    }
    
    .b-usage_paste img {
      margin-left: -17px;
    }
  }
}

/* 3 cols with features highlight
---------------------------------------- */
.b-features {
  .b-features__item {
    @include column(7);
    
    h2 {
      color: #E83771;
      font-size: 1.5em;
    }
    p {
      margin-top: 2em;
      @include append(1);
    }
  }
  
  .b-features_shortcuts img {
    margin-left: -7px;
  }
  
  .b-features_format img {
    margin-top: -8px;
    margin-left: -8px;
    margin-bottom: -30px;
  }
  
  .b-slide__item {
    position: absolute;
    margin-top: -164px;
    margin-left: -30px;
    text-align: center;
    vertical-align: center;
    width: 291px;
    height: 190px;
  }
  
  .b-slide__item_2 img  { margin-top: 73px; }
  .b-slide__item_3 img  { margin-top: 62px; }
  .b-slide__item_4 img  { margin-top: 52px; }
  .b-slide__item_5 img  { margin-top: 41px; }
  .b-slide__item_6 img  { margin-top: 31px; }
  .b-slide__item_7 img  { margin-top: 20px; }
  .b-slide__item_8 img  { margin-top: 10px; }
  .b-slide__item_9 img  { margin-top: 0px; }
  
  .b-slide__slider {
    position: relative;
    padding: 15px 20px 32px;
    margin-top: 100px;
    margin-left: -20px;
    background-color: #e2e2e2;
    background-color: rgba(200,200,210,0.35);
    width: 230px;
    @include border-radius(6px);
    @include box-shadow(0, 4px, 16px, #fff, inset);
    z-index: 1;
    
    .ui-slider {
      position: relative;
      text-align: left;
      border: 1px solid #666;
      height: 4px;
      @include border-radius(4px);
      @include box-shadow(0, 2px, 4px, rgba(0,0,0,0.5), inset);
      
      .ui-slider-handle {
        position: absolute;
        top: -.3em; 
        margin-left: -.6em;
        margin-top: -2px;
        z-index: 2;
        cursor: default;
        background: url('/i/b-slider__knob.png') no-repeat top left;
        height:19px;
        width:17px;
        outline: none!important;
      }
    }
  }
}

/* Pre-footer section with store link
---------------------------------------- */
.b-store {
  @include container;
  margin-top: 2em;
  text-align: center;
  
  h2 {
    margin-bottom: 0;
    color: #E83771;
    font-size: 2em;
  }
}

/* Footer
---------------------------------------- */
.b-footer {
  margin-top: 3em;
  
  .b-footer-wrap {
    @include container;
    background: url('/i/bg.jpg') 50% -220px no-repeat;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    color: #999ca4;
  }
}

.loupe {
  border: 3px solid rgba(0,0,0,0.65);
  background-color: #fff;
  background-repeat: no-repeat;
  @include border-radius(120px);
  @include box-shadow(#fff, 0, 4px, 8px,inset);
  cursor: url(/i/blank.png), url(/i/blank.cur), none;
}