<header class="b-header">
  <div class="b-header-wrap">
    <div class="b-logo-container">
      <a href="/"><img src="/i/logo-sm.png" width="256" height="256" alt="ColorSnapper Icon"></a>
    </div>
    
    <div class="b-logo-text">
      <h1 class="b-logo">ColorSnapper</h1>
      <h2 class="b-tagline">The missing color picker for Mac OS X</h2>
    </div>
  </div>
</header>

<section class="b-submission">
  <div class="b-submission-wrap">
    <h1>Valid email is required to subscribe!</h1>
    <h3>Please verify the email address you&rsquo;ve given and try again.</h3>
    
    <form action="/subscribe" method="post" class="b-subscribe">
      <fieldset>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="yourname@domain.com" value="<%= @email %>" autofocus>
        <button value="submit">Notify Me!</button>
      </fieldset>
    </form>
    
    <a href="/">Return to home page</a>
  </div>
</section>
