<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>ColorSnapper</title>
    <link rel="stylesheet" href="/s/screen.css" type="text/css">
  </head>
  <body>
    <header class="b-header">
      <div class="b-header-wrap">
        <h1>ColorSnapper</h1>
        <h2>Pixel perfect color picker for designers and developers</h2>
        <p>ColorSnapper allows you to preview your design with pixel perfect precision as well as to copy the selector pixel into clipboard in popular developer’s formats such as HEX, CSS3, NSColor etc.</p>
      </div>
    </header>
    

    <section class="b-usage">
      <div class="b-usage-wrap">
        <ol>
          <li class="b-usage__item">Point &amp; Shoot</li>
          <li class="b-usage__item">Paste &amp; Use</li>
          <li class="b-usage__item">Select &amp; Reuse</li>
        </ol>
      </div>
    </section>
    
    <section class="b-features">
      <div class="b-features-wrap">
        <div class="b-features__item">
          <h2>Under your fingertips</h2>
          <p>ColorSnapper is always under your fingertips. You define which shortcut to use globally. No matter what application are you using now, just press the shortcut and it’s here!</p>
        </div>
      
        <div class="b-features__item">
          <h2>Any format you want</h2>
          <p>ColorSnapper formats the picked color in lots of handy formats no matter what are you working on: web-site, OS X or iOS application. And there is alternative format which is accesible by pressing down Alt key.</p>
        </div>
      
        <div class="b-features__item">
          <h2>Pixel perfect</h2>
          <p>With ColorSnapper you have can pick any color off your screen. With magnification from 2x till 10x you can see every aspect of your design.</p>
        </div>
      </div>
    </section>

    <footer class="b-footer">
      <div class="b-footer-wrap">
        <p>&copy; Koole Sache, 2011</p>
      </div>
    </footer>
  </body>
</html>