<header class="b-header">
  <div class="b-header-wrap">
    <div class="b-logo-container">
      <a href="/i/logo-full.png" class="js-loupe"><img src="/i/logo-sm.png" width="256" height="256" alt="ColorSnapper Icon"></a>
      
      <div class="b-appstore b-appstore_header">
        <a href="<%= settings.product_mas_url %>" title="Get ColorSnapper from Mac App Store" class="b-appstore__btn" onclick="recordOutboundLink(this, 'Buy link', 'Available in the Mac App Store'); return false;">Available in the Mac App Store</a><br>
        
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="colorsnapper">Tweet</a>
      </div>      
    </div>
    
    <div class="b-logo-text">
      <h1 class="b-logo">ColorSnapper</h1>
      <h2 class="b-tagline">The missing color picker for Mac OS X</h2>
      <p>ColorSnapper is an easy-to-use tool for quickly finding out the color of any pixel on the screen. It is activated via a system-wide hotkey, giving you a magnifying loupe to easily pick the pixel you need. The resulting color is copied to clipboard in a format of your preference.</p>
      <p class="b-buynow">
        <a href="<%= settings.product_mas_url %>" title="Buy ColorSnapper from Mac App Store" class="b-buynow__button" onclick="recordOutboundLink(this, 'Buy link', 'Top buy link'); return false;"><i></i>Buy from Mac App Store</a>
      </p>
    </div>
  </div>
</header>

<section class="b-usage">
  <div class="b-usage-wrap">
    <ol>
      <li class="b-usage__item b-usage_pick">
        <h2>Point &amp; Pick</h2>
        <img src="/i/b-usage-1.png" alt="Point &amp; Pick">
      </li>
      <li class="b-usage__item b-usage_paste">
        <h2>Paste &amp; Use</h2>
        <img src="/i/b-usage-2.png" alt="Paste &amp; Use">
      </li>
      <li class="b-usage__item b-usage_select">
        <h2>Select &amp; Reuse</h2>
        <img src="/i/b-usage-3.png" alt="Select &amp; Reuse">
      </li>
    </ol>
  </div>
</section>

<section class="b-features">
  <div class="b-features-wrap">
    <div class="b-features__item b-features_shortcuts">
      <h2>Under your fingertips</h2>
      <img src="/i/b-features_shortcuts.png" alt="Under your fingertips">
      <p>ColorSnapper is always here when you want it to be. No matter which application you are using, just press the chosen combination of the keys and it’s here!</p>
    </div>

    <div class="b-features__item b-features_format">
      <h2>In the format you want</h2>
      <img src="/i/b-features_format.png" alt="In the format you want">
      <p>ColorSnapper formats the picked color in lots of handy formats no matter what are you working on: web-site, desktop or iOS application. You can do both! Just keep the ⌥ (Alt) key pressed when picking you color to store it in an alternative format.</p>
    </div>

    <div class="b-features__item">
      <h2>Pixel perfect...</h2>

      <div class="b-slide__item b-slide__item_2" style="display: none">
        <img src="/i/b-slide__item_2.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__item b-slide__item_3" style="display: none">
        <img src="/i/b-slide__item_3.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__item b-slide__item_4" style="display: none">
        <img src="/i/b-slide__item_4.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__item b-slide__item_5" style="display: none">
        <img src="/i/b-slide__item_5.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__item b-slide__item_6" style="display: none">
        <img src="/i/b-slide__item_6.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__item b-slide__item_7" style="display: none">
        <img src="/i/b-slide__item_7.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__item b-slide__item_8" style="display: none">
        <img src="/i/b-slide__item_8.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__item b-slide__item_9" style="display: none">
        <img src="/i/b-slide__item_9.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__slider">
        <div id="slider"></div>
      </div>
      <p>With ColorSnapper you can really see what&rsquo;s on your screen. With magnification from 2&times; till 9&times; you will see every aspect of your design. Really, just try it out and drag the slider!</p>
    </div>
  </div>
</section>

<section class="b-video">
  <div class="b-video_wrap">
    <!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody -->
    <video width="793" height="496" poster="/i/video/poster.jpg">
      <source src="/i/video/screencast.m4v" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
      <source src="/i/video/screencast.webm" type='video/webm; codecs="vp8, vorbis"' />
      <source src="/i/video/screencast.ogv" type='video/ogg; codecs="theora, vorbis"' />
      <p>We’re sorry, but your browser doesn’t seem to support HTML5 video. You can watch this on <a href="http://vimeo.com/22125012">Vimeo</a> if you like.</p> 
    </video>
    
    <p class="b-video_link">HD version of this video is available on <a href="http://vimeo.com/22125012">Vimeo</a></p>
  </div>
</section>

<section class="b-store">
  <h2>ColorSnapper is available on the Mac App Store.</h2>
  
  <p class="b-buynow b-buynow_footer">
    <a href="<%= settings.product_mas_url %>" title="Buy ColorSnapper from Mac App Store" class="b-buynow__button" onclick="recordOutboundLink(this, 'Buy link', 'Bottom buy link'); return false;"><i></i>Buy from Mac App Store</a>
  </p>
  
  <p>Follow <a href="http://www.twitter.com/colorsnapper" title="ColorSnapper on Twitter" class="b-twitter-btn_sml">@colorsnapper</a> on twitter to get latest updates.</p>
</section>

<footer class="b-footer">
  <div class="b-footer-wrap">
    <p>&copy; <a href="mailto:support@koolesache.com" title="Write an email">Koole Sache</a>, 2011.</p>
  </div>
</footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/jquery.loupe.js"></script>
<script type="text/javascript" src="/js/jquery.simplevideo.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('.js-loupe').loupe();

  $("#slider").slider({
    min: 2,
    max: 9,
    step: 1,
    value: 5,
    slide: function(event, ui){
      $('.b-slide__item').hide();
      $('.b-slide__item_' + ui.value).show();
    },
    create: function(event, ui){
      $('.b-slide__item_5').show();
    }
  });
  
  $('video').simpleVideo({
    onPlay: function(elements){
      elements.overlay.fadeOut();
      _gaq.push(['_trackPageview', '/video'])
    }
  });
});
</script>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
