<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>ColorSnapper</title>
    <link rel="stylesheet" href="/s/screen.css" type="text/css">
  </head>
  <body class="container">
    <header>
      <h1>ColorSnapper</h1>
    </header>
    <article>
      <p>We're working hard to bring it really soon.</p>
    </article>
    <footer>
      <p>&copy; Koole Sache, 2011</p>
    </footer>
  </body>
</html>