<header class="b-header">
  <div class="b-header-wrap">
    <div class="b-logo-container">
      <a href="/i/logo-full.png" class="js-loupe"><img src="/i/logo-sm.png" width="256" height="256" alt="ColorSnapper Icon"></a>
      
      <div class="b-appstore b-appstore_header">
        <a href="http://itunes.apple.com/at/app/colorsnapper/id418176775?mt=12" title="Get ColorSnapper from Mac App Store" class="b-appstore__btn">Available in the Mac App Store</a>
      </div>
    </div>
    
    <div class="b-logo-text">
      <h1 class="b-logo">ColorSnapper</h1>
      <h2 class="b-tagline">The missing color picker for Mac OS X</h2>
      <p>ColorSnapper is an easy-to-use tool for quickly finding out the color of any pixel on the screen. It is activated via a system-wide hotkey, giving you a magnifying loupe to easily pick the pixel you need. The resulting color is copied to clipboard in a format of your preference.</p>
    </div>
  </div>
</header>

<section class="b-warn">
  <div class="b-warn-wrap">
    <h2>Important Notice!</h2>
    <p>Some users experience an odd bug in the ColorSnapper application, which leads to a crash at the first startup. We&rsquo;ve discovered the bug on the day #1 and made a bugfix release a day later. Right now it&rsquo;s submitted to Mac App Store and the state is &ldquo;in review&rdquo;. We&rsquo;re awaiting it to be released really soon. If you bought the app from the Mac App Store and it craches, try to add it manually as first item to your account Login Items by following: &#xF8FF; &rarr; System Preferences &rarr; Accounts &rarr; Login Items. If that does not help, remove all Login Items. You might want to backup ~/Library/Preferences/loginwindow.plist before doing that and restore it after the application did start.</p>
    <p>We apologise for inconvenience and hope that the update will be released soon. Please follow <a href="http://www.twitter.com/colorsnapper" title="ColorSnapper on Twitter" class="b-twitter-btn_sml">@colorsnapper</a> on twitter to get latest updates.</p>
  </div>
</section>

<section class="b-usage">
  <div class="b-usage-wrap">
    <ol>
      <li class="b-usage__item b-usage_pick">
        <h2>Point &amp; Pick</h2>
        <img src="/i/b-usage-1.png" alt="Point &amp; Pick">
      </li>
      <li class="b-usage__item b-usage_paste">
        <h2>Paste &amp; Use</h2>
        <img src="/i/b-usage-2.png" alt="Paste &amp; Use">
      </li>
      <li class="b-usage__item b-usage_select">
        <h2>Select &amp; Reuse</h2>
        <img src="/i/b-usage-3.png" alt="Select &amp; Reuse">
      </li>
    </ol>
  </div>
</section>

<section class="b-features">
  <div class="b-features-wrap">
    <div class="b-features__item b-features_shortcuts">
      <h2>Under your fingertips</h2>
      <img src="/i/b-features-1.png" alt="Under your fingertips">
      <p>ColorSnapper is always here when you want it to be. No matter which application you are using, just press the chosen combination of the keys and it’s here!</p>
    </div>

    <div class="b-features__item b-features_format">
      <h2>In the format you want</h2>
      <img src="/i/b-features-2.png" alt="In the format you want">
      <p>ColorSnapper formats the picked color in lots of handy formats no matter what are you working on: web-site, desktop or iOS application. You can do both! Just keep the ⌥ (Alt) key pressed when picking you color to store it in an alternative format.</p>
    </div>

    <div class="b-features__item">
      <h2>Pixel perfect...</h2>

      <div class="b-slide__item b-slide__item_2" style="display: none">
        <img src="/i/b-slide__item_2.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__item b-slide__item_3" style="display: none">
        <img src="/i/b-slide__item_3.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__item b-slide__item_4" style="display: none">
        <img src="/i/b-slide__item_4.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__item b-slide__item_5" style="display: none">
        <img src="/i/b-slide__item_5.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__item b-slide__item_6" style="display: none">
        <img src="/i/b-slide__item_6.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__item b-slide__item_7" style="display: none">
        <img src="/i/b-slide__item_7.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__item b-slide__item_8" style="display: none">
        <img src="/i/b-slide__item_8.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__item b-slide__item_9" style="display: none">
        <img src="/i/b-slide__item_9.png" alt="Pixel perfect">
      </div>

      <div class="b-slide__slider">
        <div id="slider"></div>
      </div>
      <p>With ColorSnapper you can really see what&rsquo;s on your screen. With magnification from 2&times; till 9&times; you will see every aspect of your design. Really, just try it out and drag the slider!</p>
    </div>
  </div>
</section>

<section class="b-store">
  <h2>Okay, sounds excellent. Where do I buy?</h2>
  <h3>ColorSnapper is available on the Mac App Store.</h3>
  
  <div class="b-appstore b-appstore_footer">
    <a href="http://itunes.apple.com/gb/app/colorsnapper/id418176775?mt=12" title="Get ColorSnapper from Mac App Store" class="b-appstore__btn">Available in the Mac App Store</a>
  </div>
  
  <!-- <form action="/subscribe" method="post" class="b-subscribe">
    <fieldset>
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="yourname@domain.com">
      <button value="submit">Notify Me!</button>
    </fieldset>
  </form> -->
  
  <p>Follow <a href="http://www.twitter.com/colorsnapper" title="ColorSnapper on Twitter" class="b-twitter-btn_sml">@colorsnapper</a> on twitter to get latest updates.</p>
</section>

<footer class="b-footer">
  <div class="b-footer-wrap">
    <p>&copy; <a href="mailto:support@koolesache.com" title="Write an email">Koole Sache</a>, 2011.</p>
  </div>
</footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/jquery.loupe.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('.js-loupe').loupe();

  $("#slider").slider({
    min: 2,
    max: 9,
    step: 1,
    value: 5,
    slide: function(event, ui){
      $('.b-slide__item').hide();
      $('.b-slide__item_' + ui.value).show();
    },
    create: function(event, ui){
      $('.b-slide__item_5').show();
    }
  });
});
</script>