<header class="b-header">
  <div class="b-header-wrap">
    <div class="b-logo-container">
      <a href="/"><img src="/i/logo-sm.png" width="256" height="256" alt="ColorSnapper Icon"></a>
    </div>
    
    <div class="b-logo-text">
      <h1 class="b-logo">ColorSnapper</h1>
      <h2 class="b-tagline">The missing color picker for Mac OS X</h2>
    </div>
  </div>
</header>

<section class="b-submission">
  <div class="b-submission-wrap">
    <h1>Thanks for your submission!</h1>
    <h3><%= "We'll notify #{@email} when #{settings.product_name} launches!" %></h3>
    <a href="/">Return to home page</a>
  </div>
</section>
