<section class="buy">
  <div class="wrapper">
    <a href="https://s3.amazonaws.com/cs2-binaries/ColorSnapper2.dmg"
       class="buy__btn buy__btn_download buy-download"
      >Free Download</a>

    <a href="#"
       class="buy__btn buy__btn_buy paddle_button buy-paddle"
       data-product="499167"
       data-theme="none"
       data-allow-quantity="true">Buy Now</a>

    <a href="https://itunes.apple.com/app/colorsnapper/id969418666?mt=12#"
       class="buy__btn buy__btn_mas buy-mas">
      Download on the <br><strong>Mac App Store</strong>
    </a>

    <p class="buy__req">14 Day Free Trial &bull; Requires Mac OS X 10.9+</p>
  </div>
</section>
