<section class="buy">
  <div class="wrapper">
    <a href="/app/ColorSnapper2.dmg"
       class="buy__btn buy__btn_download buy-download"
       data-allow-quantity="false">Free Download</a>

    <a href="#"
       class="buy__btn buy__btn_buy paddle_button buy-paddle"
       data-product="499167"
       data-theme="none"
       data-allow-quantity="false">Buy now</a>

    <div class="buy__btn buy__btn_mas buy__btn_soon buy-mas">
      Available soon on the <br><strong>Mac App Store</strong>
    </div>

    <p class="buy__req">7 Day Free Trial &bull; Requires Mac OS X 10.9+</p>
  </div>
</section>
