<section class="buy">
  <div class="wrapper">
    <a
      class="buy__btn buy__btn_download buy-download"
      href="https://s3.amazonaws.com/cs2-binaries/ColorSnapper2.dmg"
      >Try ColorSnapper For Free</a
    >

    <p>
      or
      <a
        class="buy__trial buy-paddle"
        href="#"
        data-product="{{ site.paddle_product_id }}"
        data-theme="none"
        data-allow-quantity="true"
      >
        purchase a license
      </a>
    </p>

    <!--
    <a href="https://itunes.apple.com/app/colorsnapper/id{{ site.mas_product_id }}?mt=12#"
       class="buy__btn buy__btn_mas buy-mas">
      Download on the <br><strong>Mac App Store</strong>
    </a>
    -->

    <p class="buy__req">Works on all macOS version starting 10.11</p>
  </div>
</section>
