<footer class="footer">
  <div class="wrapper footer__wrapper">
    <div class="footer__links">
        <nav class="nav nav_footer">
            {{> navigation }}
        </nav>
      <nav class="nav nav_secondary">
        <a href="/imprint" title="Imprint">Imprint</a>
        <a href="/privacy" title="Privacy Policy">Privacy Policy</a>
        <a href="/app/eula.pdf" title="End User License Agreement">EULA</a>
        <a href="mailto@support@koolesache.com" title="Contact us">Contact us</a>
      </nav>
    </div>
    <p>Made with <span class="footer__heart">❤</span> in Vienna, Austria</p>
    <p class="footer__copyright">&copy; Koole Sache, 2016—2019.</p>
  </div>
</footer>

{{#if config.production }}
<script src="{{ site.baseurl }}/main.{{ webpackStats.hash }}.js"></script>
{{/if}}
