<g>
  <circle r="40" cx="50" cy="50" fill="#ccc" stroke="none" class="playButton__bg"></circle>
  <path class="playButton__play" d="M35,30 L75,50 L35,70" fill="#fff"></path>
  <g class="playButton__pause">
    <rect width="10" height="40" x="35" y="30"></rect>
    <rect width="10" height="40" x="55" y="30"></rect>
  </g>
  <circle class="playButton__progress playButton__progress_buffer" r="45" cx="50" cy="50"></circle>
  <circle class="playButton__progress playButton__progress_time" r="45" cx="50" cy="50"></circle>
</g>
