.buy {
  margin: $spacing-unit 0 0;
  text-align: center;

  &__btn {
    display: inline-block;
    margin: .25em;
    padding: .75em 1.25em;
    color: #fff;
    font-weight: 500;
    text-align: center;
    line-height: 26px;
    vertical-align: top;
    background-color: $brand-color;
    border-radius: 5px;

    &_mas {
      padding-left: 40px;
      font-size: 85%;
      font-weight: 300;
      text-align: left;
      line-height: 1;
      background: url('../_images/mas.svg') 10px 1.1em no-repeat;

      strong {
        font-size: 140%;
        font-weight: 300;
      }

      &:hover {
        background-color: darken($brand-color, 10%);
      }
    }

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    &_buy {
      background-color: #59b200;

      &:hover {
        background-color: darken(#59b200, 10%);
      }
    }

    &_download {
      padding-left: 36px;
      background: $brand-color url('../_images/icon-download.svg') 14px 1.1em no-repeat;

      &:hover {
        background-color: darken($brand-color, 10%);
      }
    }

    &_soon {
      background-color: rgba(#333, .25) !important;
    }
  }

  &__req {
    margin-top: .5em;
    color: lighten($text-color, 50%);
    font-size: 85%;
  }
}



