@import './_vars.scss';

.features {
  margin: 0;
  padding: 0;
  list-style: none;

  &_multicol {
    display: flex;
    flex-basis: 100%;
    flex-shrink: 0;
    margin: 20px 0;

    @include media-query($on-laptop) {
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    margin: 0;
    margin-left: 30px;
    padding-bottom: 1em;

    &:last-of-type {
      padding: 0;
    }

    &[data-video] {
      color: color($text-color l(35%));
      cursor: pointer;
    }

    &[data-video]:hover {
      color: #000;
    }

    h3 {
      line-height: 1.5;
      margin-bottom: .5em;
    }

    &_col {
      flex: 0 0 33%;
      padding: 0 10px;
      box-sizing: border-box;

      @include media-query($on-laptop) {
        flex: 1 0 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
      }

      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  &__play {
    position: absolute;
    left: -30px;
    top: -3px;
    width: 28px;
    height: 28px;
  }

}
