.features {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  list-style: none;

  &_multicol {
    display: flex;
    flex-basis: 100%;
    flex-shrink: 0;
    margin: 20px 0;

    @include media-query($on-laptop) {
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 1em;

    &[data-video] {
      color: lighten($text-color, 35%);
      cursor: pointer;
    }

    &[data-video]:hover {
      color: #000;
    }

    h3 {
      font-weight: 500;
      font-size: 130%;
      margin-bottom: .5em;
    }

    &_col {
      flex: 0 0 33%;
      padding: 0 10px;
      box-sizing: border-box;

      @include media-query($on-laptop) {
        flex: 1 0 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
      }

      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        padding-right: 0;
      }

      h3 {
        font-size: 100%;
        font-weight: 600;
        line-height: 1;
      }
    }
  }

  &__play {
    display: inline-block;
    vertical-align: bottom;
    width: 28px;
    height: 28px;
  }

}
