$features-separator-color: #e3e3e4;
.features {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  list-style: none;

  &__item {
    position: relative;
    display: inline-block;
    //padding-left: 60px;
    //padding-bottom: $spacing-unit/2;

    h3 {
      font-weight: 500;
      font-size: 175%;
    }

    P {
      margin-top: .5em;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    margin: 0 -10px;
    padding: 10px;
    border-radius: 4px;
    color: lighten($text-color, 50%) !important;
    text-decoration: none !important;

    h3 {
      display: inline;
      //border-bottom: 1px dashed rgba($nav-color, .125);
    }

    &:hover {
      color: $text-color !important;
      h3 {
        border-bottom: none;
      }
      //background: linear-gradient(90deg, #edeff2, rgba(#fff,0));
    }
  }

  &__play {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 1px;
    vertical-align: bottom;
    width: 34px;
    height: 34px;
  }

}
