/**
 * Site header
 */

.home {

  header {
    text-align: center;

    h1, h2 {
      font-weight: 100;
    }

    &:after {
      position: relative;
      top: $spacing-unit;
      display: block;
      background: linear-gradient(90deg #ef4549, #ef4549 20%, #f79945 20%, #f79945 40%, #54ba5e 40%, #54ba5e 60%, #5897d0 60%, #5897d0 80%, #a860a9 80%, #a860a9);
      height: 5px;
      content: "";
    }
  }

  &__logo {
    color: #fff;
    text-align: center;
    font-size: 3em;
    line-height: 0;
    height: 290px;

    &:before {
      display: block;
      position: relative;
      left: 50%;
      top: -50px;
      margin-left: -130px;
      background: url("/images/logo_home@2x.png") 50% 50% no-repeat;
      background-size: 261px 261px;
      width: 261px;
      height: 261px;
      content: "";
    }
  }

  &__tagline {
    margin-bottom: 1em;
    font-size: 2em;
  }
}

.description {
  text-align: center;
  font-family: $second-font-family;
  font-size: 1.3em;
}

.tour {
  margin: $spacing-unit 0;
  text-align: center;

  .wrapper {
    position: relative;
    height: 400px;
    border-bottom: 1px solid #ccc;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      margin-right: -4px;

      &:first-child label {
        border-top-left-radius: $switch-border-radius;
        border-bottom-left-radius: $switch-border-radius;
      }
      &:last-of-type label {
        margin-right: 0;
        border-top-right-radius: $switch-border-radius;
        border-bottom-right-radius: $switch-border-radius;
      }
    }
  }

  &__switch {
    display: inline-block;
    margin: .5em 0;

    label {
      display: inline-block;
      padding: $switch-border-radius $switch-border-radius*2;
      color: $brand-color;
      font-weight: normal;
      font-size: 13px;
      border: 1px solid $brand-color;
    }

    input[type=radio] {
      position: absolute;
      visibility: hidden;

      &:checked ~ label {
        color: #fff;
        background-color: $brand-color;
      }

      &:checked ~ .tour__content {
        display: block;
      }
    }
  }

  &__content {
    position: absolute;
    left: 0;
    top: 5em;
    display: none;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    text-align: left;
    width: 50%;
    @include media-query($on-laptop) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

    abbr {
      @extend a;
      text-decoration: none !important;
      border-bottom: 1px dashed lighten($brand-color, 30%);
      cursor: pointer;

      &:hover {
        color: darken($brand-color, 15%);
        border-bottom-style: solid;
      }
    }
  }
}
