/**
 * Site header
 */

.home {

  &__intro {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__logo {
    $logo-size: 100px;

    position: relative;
    margin-top: .5em;
    text-align: center;
    font-size: 3.5em;
    line-height: 1.2;
    letter-spacing: -.02em;
    font-weight: 700;
    white-space: nowrap;

    @include media-query($on-palm) {
      font-size: 2.5em;
    }

    &:before {
      display: inline-block;
      position: relative;
      top: 15px;
      margin-right: 10px;
      background: url("../_images/logo_home@2x.png") 50% 50% no-repeat;
      background-size: $logo-size;
      width: $logo-size;
      height: $logo-size;
      content: "";

      @include media-query($on-palm) {
        display: block;
        left: 50%;
        margin-left: -$logo-size / 2 - 10px;
        margin-bottom: .75em;
      }
    }
  }

  &__tagline {
    margin: .5em 0 0;
    font-size: 2em;
    text-align: center;
    letter-spacing: -.03em;
    max-width: 680px;

    @include media-query($on-palm) {
      font-size: 1.6em;
    }
  }
}



