/**
 * Site header
 */

.home {

  header {
    $bg-path: '/images/CS-top.jpg';
    $bg-header: url($bg-path) 50% 10% no-repeat;

    position: relative;
    background: $bg-header;
    background-size: cover;

    &:before {
      $blur-radius: 0px;
      position: absolute;
      top: -$blur-radius;
      left: -$blur-radius;
      width: calc(100% + #{$blur-radius * 2});
      height: calc(100% + #{$blur-radius * 2});
      background: linear-gradient(rgba(#000, .5), rgba(#000, .5)),
                   $bg-header;
      background-size: cover;
      clip-path: inset($blur-radius $blur-radius $blur-radius $blur-radius);
      filter: blur($blur-radius / 2);
      content: "";
    }

    //&:after {
    //  position: relative;
    //  top: 5px;
    //  display: block;
    //  background: linear-gradient(90deg #ef4549, #ef4549 20%, #f79945 20%, #f79945 40%, #54ba5e 40%, #54ba5e 60%, #5897d0 60%, #5897d0 80%, #a860a9 80%, #a860a9);
    //  height: 5px;
    //  content: "";
    //}

  }

  .wrapper {
    position: relative;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }

  &__logo {
    $logo-size: 128px;

    position: relative;
    padding-left: 160px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      background: url("/images/logo_home@2x.png") 50% 50% no-repeat;
      background-size: $logo-size;
      width: $logo-size;
      height: $logo-size;
      content: "";
    }
  }

  &__title {
    color: #fff;
    padding-top: .5em;
    font-size: 4em;
    line-height: 1.2;
    letter-spacing: -.04em;
    font-weight: 300;
    white-space: nowrap;
  }

  &__tagline {
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: .03em;
  }

  &__descr {
    //text-align: center;
    margin-left: 160px;
    font-family: $second-font-family;
    font-weight: 300;
    font-size: 1.2em;
    width: 40%;
  }
}



