.howto {

  &__video {
    position: relative;
    height: 480px;

    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -423.5px;
      background: url('../_images/MBPr@2x.png') 0 0 no-repeat;
      background-size: 100%;
      width: 842px;
      height: 480px;
      content: '';
    }


  }

  video {
    position: relative;
    top: 27px;
    left: 50%;
    margin-left: -321px;
    width: 640px;
    height: 400px;
  }
}
