/**
 * Site navigation
 */
.mas {
  margin: $spacing-unit 0;
  text-align: center;
}

.mas__link,
.mas__btn {
  display: inline-block;
  text-align: center;
  border-radius: 1em;
}

.mas__link {
  padding: .25em .75em;
  color: $nav-color;
  background-color: transparent;
  border: 1px solid rgba($nav-color, .5);
}

a.mas__btn {
  margin: .25em;
  padding: 1em;
  color: #FFF;
  font-weight: normal;
  background-color: $brand-color;
  border-radius: 2em;
  width: 220px;
  transition: all .25s;

  svg {
    margin-right: 5px;
    width: 23px;
    height: 22px;
    fill: #fff;
    transition: fill .25s;
  }

  &:hover {
    text-decoration: none;
    background-color: darken($brand-color, 10%);
  }
}

.mas__req {
  color: lighten($text-color, 50%);
  font-size: 85%;
}

//header {
//  .mas {
//    margin-left: 150px;
//    text-align: left;
//
//    &__btn {
//      color: $nav-color;
//      background-color: transparent;
//      border: 1px solid rgba($nav-color, .35);
//
//      svg {
//        fill: $nav-color;
//      }
//
//      &:hover {
//        color: $brand-color;
//        background-color: rgba($nav-color, 1);
//        //border-color: rgba($nav-color, 1);
//        svg {
//          fill: $brand-color;
//        }
//      }
//    }
//  }
//}


