/**
 * Site navigation
 */

.nav {

  a {
    display: inline-block;
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }

  &_top {
    color: #fff;
    text-align: center;
    color: $nav-color;
    background: linear-gradient(#375170, #375170);

    a {
      color: $nav-color;
    }
  }

  &_top .wrapper {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid darken($nav-color, 35%);
  }

  &__home {
    float: left;
  }
  &__links {
    float: right;
  }
}
