/**
 * Site navigation
 */

.nav {
  display: flex;
  //position: relative;
  align-items: center;
  font-family: $second-font-family;
  font-weight: 700;
  font-size: 90%;
  //border-bottom: 1px solid rgba($nav-color, .125);

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: linear-gradient(90deg #ef4549, #ef4549 20%, #f79945 20%, #f79945 40%, #54ba5e 40%, #54ba5e 60%, #5897d0 60%, #5897d0 80%, #a860a9 80%, #a860a9);
    height: 3px;
    width: 100%;
    content: "";
  }

  a {
    display: inline-block;
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }

  &_top {
    color: $nav-color;

    a {
      color: $nav-color;
    }
  }

  &_top {
    padding: 7px 0px;
  }

  &__home {
    flex: 0 0 50%;
  }
  &__links {
    flex: 0 0 50%;
    text-align: right;
  }
}
