@import './_vars.scss';

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.playButton {
  cursor: pointer;

  &_loading {
    cursor: default;
  }

  &__bg {
    stroke: #fff;
    stroke-width: 3px;
    fill: rgba(#000, .25);
    transition: fill .25s;
  }

  &__play,
  &__pause,
  &__load {
    transform: scale(1);
    transition: transform .25s ease-in-out,
      opacity .25s ease-in-out;
  }

  &__play,
  &__pause,
  &__load {
    fill: #fff;
  }

  &__pause,
  &__load {
    opacity: 0;
    transform: scale(.5);
  }

  &_loading &__play,
  &_loading &__pause,
  &_playing &__play,
  &_playing &__load {
    opacity: 0;
    transform: scale(.5);
  }

  &_playing &__pause {
    opacity: 1;
    transform: scale(1);
  }

  &_loading &__load {
    opacity: 1;
    transform: scale(1);
    animation: spin 2s linear infinite;
  }


  &:hover &__bg {
    fill: rgba(#000, .85);
  }

  &_playing &__bg {
    fill: rgba(#000, .5);
  }

  &__progress {
    $dashLength: 3.14 * 45 * 2; // 2 * PI * R
    fill: none;
    stroke-width: 0;
    stroke-dasharray: $dashLength;
    stroke-dashoffset: $dashLength; // Start from 0
    -webkit-transform: scale(.9);
    transform-origin: 50% 50%;
    transition: transform .35s,
      stroke-width .35s,
      stroke-dashoffset .135s;
  }

  &__progress_buffer {
    stroke: rgba(#000, .25);
  }

  &__progress_time {
    stroke: #4a90e2;
  }

  &_playing &__progress,
  &:hover &__progress {
    -webkit-transform: scale(1);
    stroke-width: 10px;
  }
}
