$timelineColor: #2f7ddf;
$timelineEventBorderRadius: 23px;

.timeline {
  position: relative;
  margin: 3em 0;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba($timelineColor, .25);
    border-radius: 3px;
    width: 100%;
    height: 3px;
    content: '';
  }

  &__progress {
    background: $timelineColor;
    border-radius: 3px;
    height: 5px;
  }

  &__events {
    margin: 0;
    margin-top: 10px;
    height: 7em;
    list-style: none;
  }

  &__event {
    position: absolute;
    margin: 0;
    padding: 5px;
    padding-right: 10px;
    font-size: 90%;
    font-weight: 400;
    font-style: italic;
    font-family: $second-font-family;
    color: darken($timelineColor, 30%);
    width: 20%;
    box-sizing: border-box;

    &:after {
      position: absolute;
      top: -24px;
      left: 45px;
      padding: 2px;
      color: $timelineColor;
      text-align: center;
      //font-weight: 700;
      font-size: 95%;
      width: $timelineEventBorderRadius;
      height: $timelineEventBorderRadius;
      border-radius: 50%;
      border: 1px solid rgba($timelineColor, .5);
      background-color: #fff;
      box-sizing: border-box;
    }

    @for $i from 0 through 3 {
      &_#{$i} {
        left: 100% / 4 * $i + 5%;

        &:after {
          content: '#{$i + 1}';
        }
      }
    }

  }
}
