.tour {
  position: relative;
  margin: $spacing-unit 0;

  .wrapper {
    position: relative;
    display: flex;
  }

  &__heading {
    font-size: 220%;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: .5em;
  }

  &__description {
    margin: 1em 0;
    font-size: 115%;

    em {
      font-style: normal;
      font-weight: 400;
      //background-color: #f0e5c0;
    }

    li {
      position: relative;
      padding-left: 1.5em;
      margin-bottom: 1em;
      list-style-type: none;

      &:before {
        position: absolute;
        left: 0;
        color: #999;
        content: "— ";
      }
    }
  }

  &__col {
    padding: $spacing-unit / 2 0;
    box-sizing: border-box;

    &_features {
      flex-basis: 36%;
    }

    &_video {
      position: relative;
      flex-shrink: 1;
      flex-grow: 1;
    }
  }

  &__video {
    position: absolute;
    display: block;
    overflow: hidden;

    video {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      z-index: -1;

      &.active {
        z-index: 1;
      }
    }
  }

  //  Loupe section
  &_loupe .wrapper {

    //.tour__col_features {
    //  color: #fff;
    //  z-index: 1;
    //}
    .tour__col_video {
      position: relative;
      height: 480px;

      &:before {
        position: absolute;
        top: 0;
        right: -58px;
        background: url('../_images/mac.svg') 0 0 no-repeat;
        width: 839px;
        height: 482px;
        opacity: .25;
        content: '';
      }
    }

    .tour__video {
      top: 26px;
      right: 40px;
      border: 1px solid #000;
    }
  }

  &_loupe &__col_video &__video {
    width: 640px;
    height: 400px;
  }


  //  Overlay section
  &_overlay {
    //background: linear-gradient(#efefef, #efefef);
    //background-color: #fff;
  }
  &_overlay &__col_video {
    order: 1;
    min-height: 601px;
  }

  &_overlay &__col_video &__video {
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    border: none;
  }


//  &__switch {
//    display: inline-block;
//    margin: .5em 0;
//
//    label {
//      display: inline-block;
//      padding: $switch-border-radius $switch-border-radius*2;
//      color: $brand-color;
//      font-weight: normal;
//      font-size: 13px;
//      border: 1px solid $brand-color;
//    }
//
//    input[type=radio] {
//      position: absolute;
//      visibility: hidden;
//
//      &:checked ~ label {
//        color: #fff;
//        background-color: $brand-color;
//      }
//
//      &:checked ~ .tour__content {
//        display: block;
//      }
//    }
//  }
//
//  &__content {
//    position: absolute;
//    left: 0;
//    top: 5em;
//    display: none;
//    padding-right: $spacing-unit;
//    padding-left: $spacing-unit;
//    text-align: left;
//    width: 50%;
//    @include media-query($on-laptop) {
//      padding-right: $spacing-unit / 2;
//      padding-left: $spacing-unit / 2;
//    }
//
//    abbr {
//      @extend a;
//      text-decoration: none !important;
//      border-bottom: 1px dashed lighten($brand-color, 30%);
//      cursor: pointer;
//
//      &:hover {
//        color: darken($brand-color, 15%);
//        border-bottom-style: solid;
//      }
//    }
//  }
}
