@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700,100italic,300italic);

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$second-font-family: 'Lato', Helvetica, Arial, sans-serif;

$spacing-unit:     30px;
$switch-border-radius: 5px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$nav-color: rgba($text-color, .85);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "layout",
    "syntax-highlighting",
    "home",
    "tour",
    "howto",
    "timeline",
    "nav",
    "mas",
    "features"
;

.intro {
    margin: 1.5em 0;
    padding: 0 3em;
    text-align: center;
    font-size: 170%;
    font-family: $second-font-family;
    font-style: italic;
    line-height: 1.7;
    letter-spacing: -.01em;
}
