---
import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';
import { site } from '../site.config';
import '../styles/main.scss';

interface Props {
  title: string;
}

const { title } = Astro.props;
const pageUrl = Astro.url.pathname;
---
<!DOCTYPE html>
<html>
  <Head title={title} pageUrl={pageUrl} />
  <body>
    <slot />
    <Footer />
    <script src="https://cdn.paddle.com/paddle/paddle.js" is:inline></script>
    <script is:inline define:vars={{ vendorId: site.paddleVendorId }}>
      Paddle.Setup({ vendor: vendorId });
    </script>
    <script>
      import '../scripts/site.ts';
    </script>
  </body>
</html>
