---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---
<BaseLayout title={title}>
  <div class="post">
    <header class="header">
      <div class="wrapper">
        <h1 class="post-title">{title}</h1>
      </div>
    </header>
    <article class="post-content">
      <div class="wrapper">
        <slot />
      </div>
    </article>
  </div>
</BaseLayout>
